<!DOCTYPE html>
<html lang="en">

<link rel="icon" type="image/x-icon" href="https://telegra.ph/file/6b56f2ed4b719d64061f6.jpg" />
  
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Profile">
	<meta name="author" content="iBengg GanzZ">
	<meta name="keywords" content="Profile">
	<title>Profile - iBeng API</title>
	<link rel="stylesheet" href="module/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="module/bootstrap/css/bootstrap-icons.css">
	<link rel="stylesheet" href="module/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/scroll.css">
    <link rel="stylesheet" href="css/font.css?family=Inter:wght@300;400;600&display=swap">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="css/style.css" class="js-stylesheet">
  <audio autoplay="autoplay" hidden="hidden" src="https://iBengg-id.github.io/anu/ehe.mp3"></audio>
</head>
<link rel="icon" type="image/x-icon" href="https://telegra.ph/file/6b56f2ed4b719d64061f6.jpg" />
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="#">
					<span class="sidebar-brand-text align-middle">
						iBengg API
					</span>
					<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewbox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
						<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
						<path d="M20 12L12 16L4 12"></path>
						<path d="M20 16L12 20L4 16"></path>
					</svg>
				</a>

				<div class="sidebar-user">
					<div class="d-flex justify-content-center">
						<div class="flex-shrink-0">
							<img src="https://telegra.ph/file/6b56f2ed4b719d64061f6.jpg" class="avatar img-fluid rounded me-1" alt="iBengg GanzZ">
						</div>
						<div class="flex-grow-1 ps-2">
							<a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown">
								Free User
							</a>
							<div class="dropdown-menu dropdown-menu-start">
								<a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/settings"><i class="align-middle me-1" data-feather="settings"></i> Pengaturan</a>
								<a class="dropdown-item" href="https://wa.me/6281257172080?text=help!!!"><i class="align-middle me-1" data-feather="help-circle"></i> Bantuan</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">Keluar</a>
							</div>

							<div class="sidebar-user-subtitle">Powered by: iBengg. All rights reserved</div>
						</div>
					</div>
				</div>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/">
							<i class="align-middle" data-feather="home"></i><span class="align-middle">Home</span>
						</a>
					</li>
					
					<li class="sidebar-item">
						<a class="sidebar-link" href="/dashboard">
							<i class="align-middle" data-feather="grid"></i><span class="align-middle">Dashboard</span>
						</a>
					</li>
					
					<li class="sidebar-item active">
						<a class="sidebar-link" href="/profile">
							<i class="align-middle" data-feather="user"></i><span class="align-middle">Profile</span>
						</a>
					</li>
					
					<li class="sidebar-item">
						<a class="sidebar-link" href="/pricing">
							<i class="align-middle fa fa-fw bx bx-money"></i><span class="align-middle">Pricing</span>
						</a>
					</li>
        
					<li class="sidebar-header">
						Contact Me
					</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="https://www.instagram.com/">
							<i class="align-middle bx bxl-instagram"></i><span class="align-middle">Instagram</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="https://www.facebook.com/ribeng2">
							<i class="align-middle bx bxl-facebook"></i><span class="align-middle">Facebook</span>
							</a>
						</li>
							<li class="sidebar-item">
						<a class="sidebar-link" href="https://wa.me/6281257172080">
							<i class="align-middle bx bxl-whatsapp"></i><span class="align-middle">WhatsApp</span>
							</a>
					</li>

				<div class="sidebar-cta">
					<div class="sidebar-cta-content">
						<strong class="d-inline-block mb-2">Upgrade To Freeium</strong>
						<div class="mb-3 text-sm">
							Upgrade Freeium Dan Nikmati Akses Fitur Freeium.
						</div>

						<div class="d-grid">
							<a href="/pricing" class="btn btn-outline-primary" target="_blank">Upgrade Sekarang</a>
						</div>
					</div>
				</div>
				<li class="sidebar-header"></li><li class="sidebar-header"></li>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>iBengg API

				<form class="d-none d-sm-inline-block">
					<div class="input-group input-group-navbar">
						<input type="text" class="form-control" placeholder="Search…" aria-label="Search">
						<button class="btn" type="button">
							<i class="align-middle" data-feather="search"></i>
						</button>
					</div>
				</form>

				
						<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell"></i>
									<span class="indicator">4</span>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									4 Notifikasi Baru
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-danger" data-feather="alert-circle"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Tanggal Pembuatan</div>
												<div class="text-muted small mt-1">iBengg, Membuat Rest APIs. 06 Juni, 2023</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-warning" data-feather="arrow-up"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Tanggal Publish</div>
												<div class="text-muted small mt-1">iBengg, Publish Rest APIs. 27 April, 2023</div>
											</div>
										</div>
									</a>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-success" data-feather="user-plus"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">User Baru</div>
												<div class="text-muted small mt-1">Zeltoria Mendaftar</div>
											</div>
										</div>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-success" data-feather="user-plus"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">User Baru</div>
												<div class="text-muted small mt-1">Vynaa anying Mendaftar</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Tutup Semua Notifikasi</a>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-icon js-fullscreen d-none d-lg-block" href="#">
								<div class="position-relative">
									<i class="align-middle" data-feather="maximize"></i>
								</div>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
								<img src="https://telegra.ph/file/6b56f2ed4b719d64061f6.jpg" class="avatar img-fluid rounded" alt="iBengg GanzZ">
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/settings"><i class="align-middle me-1" data-feather="settings"></i> Pengaturan</a>
								<a class="dropdown-item" href="https://wa.me/6281257172080?text=help!!!"><i class="align-middle me-1" data-feather="help-circle"></i> Bantuan</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">Keluar</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Profile</h1>

					<div class="row">
						<div class="col-md-4 col-xl-3">
							<div class="card mb-3">
								<div class="card-header">
									<h5 class="card-title mb-0">Profile Details</h5>
								</div>
								<div class="card-body text-center">
									<img src="https://telegra.ph/file/6b56f2ed4b719d64061f6.jpg" alt="iBengg GanzZ" class="img-fluid rounded-circle mb-2" width="128" height="128">
									<h5 class="card-title mb-0">iBengg </h5>
									<div class="text-muted mb-2">Hanya untuk senang senang</div>

									<div>
										<a class="btn btn-primary btn-sm" href="https://github.com/c/iBengg"><span data-feather="user-plus"></span> Follow</a>
										<a class="btn btn-primary btn-sm" href="https://wa.me/6281257172080"><span data-feather="message-square"></span> Message</a>
									</div>
								</div>
								<hr class="my-0">
								<div class="card-body">
									<h5 class="h6 card-title">Tentang</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Asal: <a href="#">Kalteng,sampit , Indonesia</a>
										</li>
                    <li class="mb-1"><span data-feather="arrow-up" class="feather-sm me-1"></span> Umur: 23 Tahun :v</a></li>
									</ul>
								</div>
								<hr class="my-0">
								<div class="card-body">
									<h5 class="h6 card-title">Social Media</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span class="fas fa-globe fa-fw me-1"></span> <a href="https://api.ibeng.tech">Pages</a></li>
										<li class="mb-1"><span class="fab fa-facebook fa-fw me-1"></span> <a href="https://www.facebook.com/">Facebook</a></li>
										<li class="mb-1"><span class="fab fa-instagram fa-fw me-1"></span> <a href="https://www.instagram.com/">Instagram</a></li>
										<li class="mb-1"><span class="fab fa-youtube fa-fw me-1"></span> <a href="https://github.com/iBengg-ID">Github</a></li>
									</ul>
								</div>
							</div>
						</div>

				</div>
			</main>

			<!-- Footer -->
			<footer class="footer">
				<script type="text/javascript">
   				 var det = new Date();
    				var tahun = det.getFullYear();
    				year = tahun;
				</script>
				<div class="container-fluid">
					<div class="footer-wrap pd-20 mb-20 card-box">
					Copyright © <script>document.write(year);</script>
					<a href="https://github.com/iBengg-ID" target="_blank"
						>iBengg ID</a
					>. All rights reserved.
				</div>
				</div>
			</footer>
			<!-- End Footer -->
				
			<!-- Back To Top -->
      	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      	  <!-- End Back To Top -->
      	
		</div>
	</div>
    <script src="js/scroll.js"></script>
    <script src="js/dash.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
